@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-process";
@import "../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-omb-info";
@import "../../../platform/forms/sass/m-form-confirmation";

.green-checkmark {
  color: var(--vads-color-success-dark);
}

.warning-icon {
  color: var(--vads-color-warning-dark);
}



// Review Page
.spruce-review-page-only {
  display: none;
}
.form-review-panel-page .spruce-review-page-only {
  display: block;
}
.review-row .spruce-review-view-hidden {
	display: none;
}

// Format addresses inside of radio tiles
.spruce-address-verification-page .usa-radio__label-description {
  white-space: pre-line;
}
